@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: #E3E3E3 !important;
}
.leaflet-container {
  width: 100%;
  height: 70vh;
}
::-webkit-scrollbar {
  width: 6px;
  background: #e7ecee;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px #53D572;
  border-radius: 2px 2px 0px 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 1px #e7ecee;
  background: #53D572;
}